body {
    background-color: #68B0AB; /* Coolors.co was used to identify a unified color palette with good performacne characteristics. This color is colorblind-friendly and contrast friendly for the intended text colors. */
    color: black; /*Determines default color*/
    font-family: Arial, Helvetica, sans-serif; /*Determines the font */
}
header {
    background-image: url(../images/LogoSmall.png); /* This is the default header image for small screens. Note the file path, where "../" directs to the root folder. */
    min-height: 60px;
    background-position: right top;
    background-repeat: no-repeat;
}
main {
    background-color: white; /* Determines the main content section's color. */
    color: black; /* Determines the main content section's text color. */
}
img { /* This section scales the images up and down to the screen size. */
    width: 100%;
    height: auto;
} /* This section makes the description terms bold */
dt {
    font-weight: bold;
}
aside { /* This section styles the unumbered list on the classes page. */
    background-color: #C8D5B9; /* This color is colorblind-friendly and contrast friendly for the intended text. */
}
section .profile{ /* This section controls styling of the profile photos within the "section" on the "our team" page. */ 
   border-radius: 50%;
   width: 80px;
   text-align: center;
   font-weight: bold; 
}
#websiteTitle { /* Changed the website title typography across all pages.*/
    font-family: "Brush Script MT", cursive;
    font-size: 4em;
}
.classInfo { /* Changed background color of some elements on classes page. */
    background-color: #C7CCB9; /* This color is colorblind-friendly and contrast friendly for the intended text. */
}
section { /* Changed background color for profile photo section */
    background-color: #C8D5B9; /* This color is colorblind-friendly and contrast friendly for the intended text. */
    border-radius: 10px;
} /* Targets just the occurence of "Chateau Chien" for styling (larger and italic) */ 
.largerItalics {
    font-size: 1.2em;
    font-style: italic;
}
nav { /* Styles navigation. */
    font-size: 1.5em;
}
.navBar a:link{ /* Colors nav links that have not yet been clicked. */
    color: white;
}


.navBar a:visited{ /* Makes previously clicked links change color. */
    color: black;
}


.navBar a:hover { /* Makes the nav links change color on hover. */
    color: yellow;
} 



 




@media screen and (min-width: 768px) { /* The following section defines responsive styling for screens that reach or exceed 768 pixels (desktops, laptops and most tablets). */
    body {        
        background-color: #8FC0A9; /* This color is colorblind-friendly and contrast-friendly for the intended text. */
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }       
    header {
        background-color: #68B0AB;
        color: black;
        background-image: url(../images/LogoLarge.png); /* This header image for larger screens replaces the small screen default image. */
        min-height: 100px;     
    }
    section .profile{ /* This scales the profile photos (section/our team) up to a larger size for non-mobile (non-default). */ 
        width: 150px; 
     }
}