body {
    background-color: #68B0AB; /* Coolors.co was used to identify a unified color palette with good performacne characteristics. This color is colorblind-friendly and contrast friendly for the intended text colors. */
    color: black; /*Determines default color*/
    font-family: Arial, Helvetica, sans-serif; /*Determines the font */
}

header {
    background-image: url(../images/LogoSmall.png); /* This is the default header image for small screens. Note the file path, where "../" directs to the root folder. */
    min-height: 60px;
    background-position: right top;
    background-repeat: no-repeat;
}

main {
    background-color: #8FC0A9; /* Determines the main content section's color. */
    color: black; /* Determines the main content section's text color. */
}

img { /* This section scales the images up and down to the screen size. */
    max-width: 100%;
    height: auto;
}
 
dt { /* This section makes the description terms bold */
    font-weight: bold;
}

aside { /* This section styles the unumbered list on the classes page. */
    background-color: #C8D5B9; /* This color is colorblind-friendly and contrast friendly for the intended text. */
    border-radius: 25px; /* Rounds corners. */
    border-style: solid; /* Creates a border. */
    padding-left: 20px; /* Makes space so the text box doesn't look so crowded. */
    padding-right: 20px;
    padding-top: 5px; /* Different padding for top/bottom and sides. */
    padding-bottom: 5px;
}

aside h2{ /* Styles the "pick the right class fro you" heading in the classes page. */
    text-align: center;
}

section .profile{ /* This section controls styling of the profile photos within the "section" on the "our team" page. */ 
   border-radius: 50%;
   width: 80px;
   text-align: center;
   font-weight: bold; 
}

#websiteTitle { /* Changed the website title typography across all pages.*/
    font-family: "Brush Script MT", cursive;
    font-size: 4em;
}

.classInfo { /* Changed background color of some elements on classes page. */
    background-color: #C7CCB9; /* This color is colorblind-friendly and contrast friendly for the intended text. */
    padding-left: 20px; /* Makes space so the text box doesn't look so crowded. */
    padding-right: 20px;
    padding-top: 5px; /* Different padding for top/bottom and sides. */
    padding-bottom: 5px;
}

.classInfo h2{ /* Styles the "class descriptions" heading in the classes page. */ 
    text-align: center;
}

.classInfo h3{ /* Styles the "how to get started" heading in the classes page. */ 
    text-align: center;
}

section { /* Changed background color for profile photo section */
    background-color: #C8D5B9; /* This color is colorblind-friendly and contrast friendly for the intended text. */
    border-radius: 10px;
    text-align: center;
}

ol.ourTeam { /* This controls the elemnts of the list in the "our team" section of the "our team" page. */
    display: inline-block;
    text-align: left;
}
 
.largerItalics { /* Targets just the occurence of "Chateau Chien" for styling (larger and italic) */ 
    font-size: 1.2em;
    font-style: italic;
}

nav { /* Styles navigation. */
    font-size: 1.3em;
}

nav a:link{ /* Colors nav links that have not yet been clicked. */
    color: white;
}


nav a:visited{ /* Makes previously clicked links change color. */
    color: black;
}


nav a:hover { /* Makes the nav links change color on hover. */
    color: yellow;
} 

.flexNavContainer{ /* Default (small screen) horizontal styling. */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a { /* Default (small screen) navigation styling. */
    width: 110px;
    background-color: #8FC0A9;
    padding: 5px;
    text-align: center;
    margin: 15px;
  }

.flexGalleryContainer { /* Applies styling to the flex-box container around the headshots of the "our team" page. */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

*, *::before, *::after { /* This makes every element include its borders and padding in its total defined size. */
    box-sizing: border-box;
}

@media screen and (min-width: 768px) { /* The following section defines responsive styling for screens that reach or exceed 768 pixels (desktops, laptops and most tablets). */
    body {        
        background-color: #8FC0A9; /* This color is colorblind-friendly and contrast-friendly for the intended text. */
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    header {
        background-color: #68B0AB;
        color: black;
        background-image: url(../images/LogoLarge.png); /* This header image for larger screens replaces the small screen default image. */
        min-height: 100px;
        margin-top: -35px;  
    }

    section .profile{ /* This scales the profile photos (section/our team) up to a larger size for non-mobile (non-default). */ 
        width: 150px; 
    }

    .flexNavContainer{ /* Large screen vertical styling. */
        display: flex;
        flex-direction: column;
        height: 100vh; /* Makes the height the full size of the viewport. */
    }

    main {
        height: 100vh;
        overflow: scroll;
    }

    nav a{ /* Large screen navigation styling- vertical. */
        width: 120px;
        background-color: #68B0AB;
        padding: 5px;
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    } 

    .flexNavPlusMain {
        display: flex;
    }

    aside {
        padding-left: 40px; /* Makes even more space around the words in large screen displays. */
        padding-right: 40px;
        padding-top: 10px; /* Different padding for top/bottom and sides. */
        padding-bottom: 10px;
        clear: both; /* Moves the aside down below the floated 1st row columns. */
    }

    .classInfo{
        padding-left: 40px; /* Makes even more space around the words in large screen displays. */
        padding-right: 40px;
        padding-top: 10px; /* Different padding for top/bottom and sides. */
        padding-bottom: 10px;
    }

    .columnLeft{ /* This makes the nav bar stay on the left on the classes page. */
        float: left;
        width: 30%;
    }

    .columnRight{ /* This makes elements move to the right of the nav bar on the classes page. */
        float: right;
        width: 70%;
        padding-top: 40px; /* Makes space below header bar. */
        padding-bottom: 20px;
    }
    
    .columnLowerLeft{ /* This makes the second row of content stay on the left, below the nav bar (classes page). */
        float: left; 
        width: 27%; 
        padding-top: 215px; /* Able to independently adjust content placement from the top columns, this moves the aside way down to be more asethetically aligned with the "class descriptions" content.*/
        padding-left: 10px;
        padding-right: 10px;
    }

    .columnLowerRight{ /* This makes the second row of content go to the right (classes page). */
        float: right;
        width: 70%;
        padding-top: 20px; 
        padding-bottom: 40px;  
    }

    footer{
        background-color: #68B0AB; /* Adds contrast to footer box for the new color scheme (only needed on large screen format). */
        text-align: center;
        clear: both; /* Allows footer to move to new line to clear the page's new 2 column layout (only applies to large screen format). */
    }
}